/* Додайте цей CSS в ваш файл стилів, наприклад, UserMenu.css */

.user-menu-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .welcome-text {
    font-size: 16px;
  }
  
  .logout-button {
    margin-left: 25px;
    background-color: #2ecc71;
    width: 100px;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #27ae60;
  }
  